/* Custom styles for the full-width container */
.full-width-container {
  margin: 1rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  max-width: 100% !important;
  box-sizing: border-box !important;
}

@media screen and (min-width: 769px) {
  .full-width-container {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    max-width: 1190px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
