.cream-gradient-bg {
  background: linear-gradient(135deg, #fffdd0 0%, #f5deb3 100%);
}

.events {
  background: #56ccf2; /* fallback for old browsers */
  background: linear-gradient(
    135 deg,
    #ffffff,
    #56ccf2
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
}

.card-container {
  perspective: 1500px;
  transition: all 0.5s ease;
}

.card {
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.card-container:hover .card {
  transform: rotateY(-10deg) rotateX(-10deg) scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
