body {
  background-color: #181823;
}

.container-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}

/* .container-box > * {
  flex-shrink: 0;
  flex-grow: 0;
  overflow: auto;
  max-height: calc(
    100% - 60px
  ); 
} */

.ripple-gradient {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: #fff;
    background: linear-gradient(to right, #000, #00f);
    cursor: pointer;
    overflow: hidden;
    height: '10px'
  }
    .ripple-gradient:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
  }

  .ripple-gradient:active:before {
    width: 200px;
    height: 200px;
    opacity: 1;
    transition: all 0.4s ease-out;
  }