body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(135deg, #ffdcb6 70%, #e6b89c 70%) !important; */
  background: linear-gradient(
    150deg,
    rgb(49, 35, 35) 0%,
    rgb(47, 37, 1) 10%,
    rgb(74, 72, 72) 100%
  ) !important;
  /* background-image: linear-gradient(
    150deg,
    rgb(9, 0, 0) 0%,
    rgba(255, 165, 0, 1) 10%,
    rgb(74, 72, 72) 100%
  ) !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
